/.idea/.idea.QuadraticEquationSolver/
/QuadraticEquationSolver.Tests/bin/Debug/netcoreapp3.1/
/QuadraticEquationSolver.Tests/obj/
/QuadraticEquationSolver/obj/
/QuadraticEquationSolver/bin/Debug/netcoreapp3.1/
